# Ignore .env with secrets
.env

# Ignore frontend build in backend static (optional)
/backend/src/main/resources/static/

# Maven target
/backend/target/

# Node modules
frontend/frontend/node_modules/

